{% extends 'index.html' %}
{% block content %}

    <center>
    <h2>Login</h2>
    <form method="POST">{% csrf_token %}
        {% for field in login_form %}
            <p>
                {{ field.label_tag }}
                {{field}}

                {% if field.help_text %}
                    <small style="color: grey;">{{ field.help_text }}</small>
                {% endif %}

                {% for error in field.errors %}
                    <p style="color: red;">{{ error }}</p>
                {% endfor %}

                {% if login_form.non_field_errors %}
                    <div style="color: red;">{{login_form.non_field_errors}}</div>
                {% endif %}
            </p>
            {% endfor %}
            <button type="submit">Login</button>

    </form>
    </center>
{% endblock content %}